@import "tailwindcss";
* body {
    background: #F8FAFC;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

@theme {
    --color-w: #F8FAFC;
    --color-y: #F5D565;
    --color-o: #E9A23B;
    --color-p: #F5E8D5;
    --color-p2: #F7D4D3;
    --color-g1: #A0ECB1;
    --color-g2: #32D657;
    --color-red: #DD524C;
    --color-cian: #E3E8EF;
    --color-cian2: #97A3B6;
    --color-cian3: #00000033;
    --color-blue: #3662E3;
}